.adverts--money {
}

.adverts--tone-moneys {
    > .adverts__header {
        background: $guardian-money-rebrand;
    }
}

.adverts--tone-moneys .button--legacy-single,
.advert--money .button {
    background: $guardian-money-rebrand;
    color: #ffffff;
}

.advert--money {
    &:hover,
    &:focus,
    &:active {
        .button {
            background: darken($guardian-money-rebrand, 5%);
        }
    }
}

.adverts--tone-moneys .button--legacy-single {
    &:hover,
    &:focus,
    &:active {
        background: darken($guardian-money-rebrand, 5%);
    }
}
