.adverts--jobs {
    @include mq($until: tablet) {
        .adverts__row > :nth-child(2) ~ * {
            margin-top: 0;
        }
    }

    .advert__image-container {
        height: $gs-baseline * 10;
    }

    .advert__image {
        max-height: 100%;
    }

    .jobs-sectors {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        list-style: none;
        margin-bottom: $gs-baseline / 2;
        padding: 0;

        > li {
            border-top: 1px solid $neutral-4;
            flex-basis: calc(50% - (#{$gs-gutter / 4}));
        }

        a {
            display: block;
            padding: $gs-baseline / 1.5 0;
        }

        @include mq($until: tablet) {
            display: none;
        }
    }

    .job-sector__all {
        font-weight: bold;

        &::after {
            content: ' »';
        }
    }
}

.adverts--tone-jobs .button--legacy-single,
.advert--job .button {
    background: $news-main-1;
    color: #fff;
}

.advert--job {
    &:hover,
    &:focus,
    &:active {
        .button {
            background: darken($news-main-1, 5%);
        }
    }

    @include mq($until: tablet) {
        overflow: hidden;
    }
}

.adverts--tone-jobs .button--legacy-single {
    &:hover,
    &:focus,
    &:active {
        background: darken($news-main-1, 5%);
    }
}

.advert-blended--jobs .advert-blended__title {
    padding-top: 5px;
    padding-bottom: 4px;
}

.advert-blended--jobs .icon--logo-jobs {
    fill: $news-support-2;
}

.adverts--tone-jobs {
    > .adverts__header {
        background: $news-support-2;
    }
}
