.adverts--masterclasss {
}

.adverts--tone-masterclasss {
    > .adverts__header {
        background: $multimedia-main-1;
        .button {
            color: $multimedia-main-2;
            border-color: fade-out($multimedia-main-2, .7);

            &:hover,
            &:focus,
            &:active {
                border-color: $multimedia-main-2;
            }
        }
    }

    .adverts__logo {
        color: $multimedia-main-2;
    }

    .inline-commercial-brand svg {
        fill: $multimedia-main-2;
    }
}

.adverts--tone-masterclasss .button--legacy-single,
.advert--masterclass .button {
    background: $multimedia-main-2;
    color: $neutral-1;
}

.advert--masterclass {
    &:hover,
    &:focus,
    &:active {
        .button {
            background: darken($multimedia-main-2, 5%);
        }
    }
}

.adverts--tone-masterclasss .button--legacy-single {
    &:hover,
    &:focus,
    &:active {
        background: darken($multimedia-main-2, 5%);
    }
}

.advert-blended--masterclasses {
    .advert-blended__title {
        padding-top: 5px;
        padding-bottom: 9px;

        > svg {
            height: 22px;
            width: 144px;
        }
    }

    .advert {
        display: block;
    }

    .advert__image-container {
        float: right;
        margin: 0 0 0 $gs-gutter / 2;
        width: 50%;
    }
}

.logo--tone-masterclasses {
    fill: $multimedia-main-1;
}
