.adverts--tone-climates, .adverts--tone-climate2s {
    > .adverts__header {
        background: $news-garnett-highlight;
        .button {
            border-color: fade-out($news-garnett-highlight, .7);

            &:hover,
            &:focus,
            &:active {
                border-color: $news-garnett-highlight;
            }
        }
    }

    .adverts__logo {
        color: $news-garnett-highlight;
    }

   .adverts__logo .icon {
        fill: $guardian-brand-dark;
    }

    .inline-commercial-brand svg {
        fill: $news-garnett-highlight;
    }

    .button--large {
        border: none;
    }

    .adverts__ctas .button--large {
        background: $guardian-brand-dark;
        color: white;
    }

    .adverts__blurb {
      color: $news-garnett-highlight;
      background: #121212;
    }
}

.adverts--tone-climate2s {
  .adverts__blurb {
    color: white;
    background: #121212;
  }
}

.adverts--tone-climates {
  .adverts__blurb {
    color:  #121212;
    background: white;
  }
}

.adverts--tone-climates .button--legacy-single,
.advert--climate .button, .adverts--tone-climate2s .button--legacy-single,
.advert--climate2 .button {
    background: $news-garnett-highlight;
}

.advert--climate, .advert--climate2 {
    &:hover,
    &:focus,
    &:active {
        .button {
            background: $guardian-highlight-hover;
        }
    }
}

.adverts--tone-climates .button--legacy-single, .adverts--tone-climate2s .button--legacy-single {
     &:hover,
     &:focus,
     &:active {
         background: $guardian-highlight-hover;
     }
 }

.adverts--tone-climates .adverts__ctas .button--large, .adverts--tone-climate2s .adverts__ctas .button--large {
    &:hover,
    &:focus,
    &:active {
         background: $neutral-1;
    }
}

.advert-blended--climate, .advert-blended--climate2 {
    .advert-blended__title {
        padding-top: 5px;
        padding-bottom: 9px;

        > svg {
            height: 22px;
            width: 144px;
        }
    }

    .advert {
        display: block;
    }

    .advert__image-container {
        float: right;
        margin: 0 0 0 $gs-gutter / 2;
        width: 50%;
    }
}
