.adverts--tone-subscriptions .button--large {
    background: #ffffff;
    color: #000000;
}

.adverts--subscriptions {
}

.adverts--tone-subscriptions {
    > .adverts__header {
        background: $guardian-subscriptions-rebrand;
    }
}

.adverts--tone-subscriptions .button--legacy-single,
.advert--subscription .button {
    background: $guardian-subscriptions-rebrand;
    color: #ffffff;
}

.advert--subscription {
    &:hover,
    &:focus,
    &:active {
        .button {
            background: darken($guardian-subscriptions-rebrand, 5%);
        }
    }
}

.adverts--tone-subscriptions .button--legacy-single {
    &:hover,
    &:focus,
    &:active {
        background: darken($guardian-subscriptions-rebrand, 5%);
    }
}
