.adverts--gardens {
}

.adverts--tone-gardens {
  > .adverts__header {
    background: $maps-main-1;
  }
}

.adverts--tone-gardens .button--legacy-single,
.advert--garden .button {
  background: $maps-support-2;
  color: #fff;
}

.advert--garden {
  &:hover,
  &:focus,
  &:active {
    .button {
      background: color.darken($maps-support-2, 5%);
    }
  }
}

.adverts--tone-gardens .button--legacy-single {
  &:hover,
  &:focus,
  &:active {
    background: color.darken($maps-support-2, 5%);
  }
}
