.adverts--networks {
}

.adverts--tone-networks {
    > .adverts__header {
        background: $news-support-4;
    }
}

.adverts--tone-networks .button--legacy-single,
.advert--network .button {
    background: $news-main-1;
    color: #ffffff;
}

.advert--network {
    &:hover,
    &:focus,
    &:active {
        .button {
            background: darken($news-main-1, 5%);
        }
    }
}

.adverts--tone-networks .button--legacy-single {
    &:hover,
    &:focus,
    &:active {
        background: darken($news-main-1, 5%);
    }
}
