.adverts--tone-memberships {
    > .adverts__header {
        background: $membership-default;
    }
}

.adverts--tone-memberships .button--legacy-single,
.advert--membership .button {
    background: $membership-default;
    color: #fff;
}

.advert--membership {
    &:hover,
    &:focus,
    &:active {
        .button {
            background: darken($membership-default, 5%);
        }
    }
}

.adverts--tone-memberships .adverts__ctas .button {
    &:hover,
    &:focus,
    &:active {
        background: darken($membership-default, 5%);
    }
}

.adverts--memberships {
    .advert__standfirst {
        font-size: 1rem;
        letter-spacing: -.03em;
        margin: .25em 0;

        > strong {
            font-weight: 400;
        }
    }
}
