.adverts--tone-brands {
    > .adverts__header {
        background: $news-support-2;
    }
}

.adverts--tone-brands .button--legacy-single,
.advert--brand .button {
    background: $news-main-2;
    color: #ffffff;
}

.advert--brand {
    &:hover,
    &:focus,
    &:active {
        .button {
            background: darken($news-main-2, 5%);
        }
    }
}

.adverts--tone-brands .button--legacy-single {
    &:hover,
    &:focus,
    &:active {
        background: darken($news-main-2, 5%);
    }
}
