.adverts--tone-brands {
  > .adverts__header {
    background: $guardian-generic-rebrand;
  }
}

.adverts--tone-brands .button--legacy-single,
.advert--brand .button {
  background: $guardian-generic-rebrand;
  color: #fff;
}

.advert--brand {
  &:hover,
  &:focus,
  &:active {
    .button {
      background: color.darken($guardian-generic-rebrand, 5%);
    }
  }
}

.adverts--tone-brands .button--legacy-single {
  &:hover,
  &:focus,
  &:active {
    background: color.darken($guardian-generic-rebrand, 5%);
  }
}
