.adverts--books {
    > .adverts__header {
        .search {
            margin: 0;
            position: relative;
        }

        .search__input {
            font: normal 13px/18px $f-sans-serif-text;
            box-sizing: border-box;
            border-radius: 18px;
            background-color: rgba(#ffffff, .9);
            border: 0;
            width: 100%;
            height: $gs-row-height;
            padding: $gs-baseline/2 $gs-gutter $gs-baseline/4;

            &:hover,
            &:focus {
                outline: none;
            }
            &:focus {
                background-color: #ffffff;
                box-shadow: 0 0 0 2px rgba(#000000, .3), inset 0 1px 2px 0 rgba(#000000, .3);
            }
        }

        .button {
            color: #000000;
            border-color: rgba(#ffffff, .3);
            margin-right: 0;

            &:hover,
            &:focus,
            &:active {
                border-color: #ffffff;
            }
        }
    }

}

.adverts--tone-books {
    > .adverts__header {
        background: $guardian-books-rebrand;
    }

    &.adverts--legacy-inline {
        .inline-logo-bookshop__svg {
            opacity: .8;
        }
    }
}

.advert--book {
    .advert__meta[itemprop='author'] {
        margin-bottom: 1em;
    }
}

.adverts--tone-books .button--legacy-single,
.advert--book .button {
    color: #ffffff;
    background: $guardian-books-rebrand;
}

.advert--book {
    &:hover,
    &:focus,
    &:active {
        .button {
            background: darken($guardian-books-rebrand, 5%);
        }
    }

    &.advert--prominent-false {
      .advert__image-container {
        align-self: center;
        width: auto;
      }
      .advert__image {
        width: auto;
        max-height: 150px;
      }
    }

    .adverts__row--prominent-true &.advert--prominent-false {
      .advert__image {
        width: auto;
        max-height: 300px;
      }
    }

    &.advert--prominent-true {
      & .advert__image {
        max-height: 450px;
        width: auto;
      }
    }

    &.adverts--legacy-inline {
        .advert > :not(.advert__image-container) {
            margin-left: 0;
            margin-right: 0;
        }

        .adverts__body {
            padding: $gs-baseline / 2 $gs-gutter / 4 0;
        }

        .advert__meta {
            margin-top: $gs-baseline / 2;
        }
    }

}

.adverts--tone-books .button--legacy-single {
    &:hover,
    &:focus,
    &:active {
        background: darken($guardian-books-rebrand, 5%);
    }
}

.advert-blended--books .advert-blended__title {
    padding-top: 5px;
    padding-bottom: 4px;
}

.advert-blended--books .icon--logo-bookshop {
    fill: $guardian-books-rebrand;
}

.tone-book-highlight {
    color: $guardian-books-rebrand;
}
