.adverts--live {
}

.adverts--tone-lives {
    > .adverts__header {
        background: $live-main-1;
    }
}

.adverts--tone-lives .button--legacy-single,
.advert--live .button {
    background: $live-main-2;
    color: #ffffff;
}

.advert--live {
    &:hover,
    &:focus,
    &:active {
        .button {
            background: darken($live-main-2, 5%);
        }
    }
}

.adverts--tone-lives .button--legacy-single {
    &:hover,
    &:focus,
    &:active {
        background: darken($live-main-2, 5%);
    }
}

.adverts--tone-lives .button--large {
    background: $live-main-2;
    color: #ffffff;
}

.adverts--tone-lives .blink__anchor {
    color: #000000;
}
