.adverts--tone-lifestyles {
  > .adverts__header {
    background: $lifestyle-main;
  }
}

.adverts--tone-lifestyles .button--legacy-single,
.advert--lifestyle .button {
  background: $lifestyle-main;
  color: #fff;
}

.advert--lifestyle {
  &:hover,
  &:focus,
  &:active {
    .button {
      background: color.darken($lifestyle-main, 5%);
    }
  }
}

.adverts--tone-lifestyles .button--legacy-single {
  &:hover,
  &:focus,
  &:active {
    background: color.darken($lifestyle-main, 5%);
  }
}
