.adverts--tone-lifestyles {
    > .adverts__header {
        background: $lifestyle-bright;
    }
}

.adverts--tone-lifestyles .button--legacy-single,
.advert--lifestyle .button {
    background: $lifestyle-bright;
    color: #ffffff;
}

.advert--lifestyle {
    &:hover,
    &:focus,
    &:active {
        .button {
            background: darken($lifestyle-bright, 5%);
        }
    }
}

.adverts--tone-lifestyles .button--legacy-single {
    &:hover,
    &:focus,
    &:active {
        background: darken($lifestyle-bright, 5%);
    }
}
