.adverts--capi {
    .adverts__title {
        font-size: get-font-size(headline, 3);
    }

    .adverts__row {
        @include mq($until: tablet) {
            flex-direction: column;

            & > * {
                flex-basis: auto;
            }

            & > * + * {
                margin-top: $gs-baseline;
            }

            & > * + .advert {
                padding-top: $gs-baseline / 2;
            }

            & > * + :nth-child(even)::before {
                content: none;
            }
        }
    }

}

.adverts--paidfor {
    .adverts__header {
        position: relative;
    }

    @include mq(mobileLandscape, leftCol) {
        .paidfor-meta__more {
            position: relative;
        }
    }
}

.adverts--supported {
    .adverts__title {
        font-size: 22px;
        line-height: 24px;
    }

    .badge__help {
        font-size: 11px;
        font-weight: normal;
        line-height: 1;
        margin-top: $gs-baseline / 2;
    }
    .advert__kicker {
        color: $guardian-brand;
    }
}

.adverts--tone-paidfor {
    background-color: $neutral-6;

    > .adverts__header {
        background: $paidfor-background;
    }

    .adverts__title {
        font-family: $f-sans-serif-headline;
    }

    .adverts__logo {
        color: #ffffff;
    }

    .adverts__stamp {
        text-align: right;
    }

    .adverts__row > * + *::before,
    .adverts__row--legacy > .advert::after,
    .adverts__2cols::after,
    .adverts__3cols::before,
    .adverts__3cols::after {
        background: $paid-article-subheader-bg;
    }

    .button {
        background-color: $paid-article-brand;
        color: #fff;

        &:hover,
        &:focus,
        &:active {
            background-color: darken($paid-article-brand, 5%);
        }
    }
}

.adverts--tone-supported {
    background: none;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        right: 0;
        transform: translate(-50%, 0);
        border-top: 1px solid $news-main-2;
        width: calc(100% - #{$gs-gutter});

        @include mq(mobileLandscape) {
            width: calc(100% - #{$gs-gutter * 2});
        }

        @include mq(tablet) {
            width: 740px;
        }

        @include mq(desktop) {
            width: 980px;
        }

        @include mq(leftCol) {
            width: 1140px;
        }

        @include mq(wide) {
            width: 1300px;
        }
    }

    .adverts__logo {
        color: $guardian-brand-dark;
    }

    .badge__help {
        color: $neutral-2-contrasted;
    }
}

.advert--capi {
    border-top: 1px solid;
    transition: background .1s;

    &:hover,
    &:focus {
        .advert__title {
            text-decoration: none;
        }
    }

    .advert__title,
    .advert__meta,
    .advert__standfirst {
        padding-left: $gs-gutter / 4;
        padding-right: $gs-gutter / 4;
    }

    > .advert__meta {
        margin-top: auto;
        margin-bottom: $gs-baseline / 4;
    }

    .advert__title {
        margin-bottom: .5em;

        > .icon {
            height: .72em;
            width: 1.2em;
            margin-right: .1em;
            line-height: inherit;
            vertical-align: initial;
        }
    }

    &:not(.advert--landscape) {
        > .advert__image-container {
            @include mq($until: tablet) {
                flex-basis: auto;
            }

            width: 100%;
        }

        .advert__image {
            width: 100%;

            @include mq(desktop) {
                min-height: $gs-baseline * 11;
            }
        }

        .advert__standfirst {
            margin-bottom: $gs-baseline / 2;
        }
    }

    .has-no-flex &:not(.advert--small):not(.advert--landscape) {
        padding-top: 0;

        > :first-child {
            padding-top: 66%;
        }
    }
}

.advert--paidfor {
    font-family: $f-sans-serif-text;
    background: $paid-article-subheader;
    border-top-color: $paid-article-brand;

    &:hover,
    &:focus {
        background: darken($paid-article-subheader, 7%);
    }

    .advert__title {
        font-family: $f-sans-serif-headline;
        font-weight: 400;

        > .icon {
            fill: $paid-article-icon;
        }

        .advert__kicker,
        .advert__kicker::after {
            color: $paid-card-kicker;
        }
    }


    .adverts--legacy-single & {
        background: none;
        border-top: 0;

        &::after {
            background-color: $paid-article-icon;
        }

        .advert__image-container {
            border-top: 0;
        }
    }
}

.advert--supported {
    &.advert--text {
        border-top-color: $news-main-2;
        background: $neutral-8;

        &:hover,
        &:focus {
            background: $neutral-6;
        }
    }

    &.advert--media {
        border-top-color: $multimedia-main-2;
        background: $multimedia-main-1;
        color: #ffffff;

        &:hover,
        &:focus {
            background: darken($media-background, 7.5%);
        }

        .advert__title {
            > .icon {
                fill: $multimedia-main-2;
            }
            .advert__kicker {
                color: $multimedia-main-2;
            }
        }
    }

    > .advert__title {
        @include mq(desktop) {
            font-size: 20px;
            line-height: 24px;
        }
    }

    > .advert__standfirst {
        display: none;
    }

}

.advert__kicker {
    &:after {
        content: '/';
        display: inline-block;
        margin-left: .2em;
        color: mix($neutral-1, #ffffff, 20%);
    }

    &:hover:after {
        text-decoration: none;
    }
}

