.badge {
    font-size: 12px;
    line-height: 16px;
    font-family: $f-sans-serif-text;
    color: $neutral-2;
    font-weight: bold;
    margin-top: $gs-baseline / 2;
    padding-right: $gs-gutter / 2;
    text-align: right;

    .adverts__more + & {
        margin-top: 0;
    }

    .has-no-flex & {
        clear: both;
    }
}

.badge__logo {
    max-height: $gs-baseline * 5;
    margin-left: $gs-gutter / 2;
    vertical-align: middle;
}
