$f-serif-text: 'Guardian Text Egyptian Web', Georgia, serif !default;
$f-serif-headline: 'Guardian Egyptian Web', Georgia, serif !default;
$f-sans-serif-text: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !default;
$f-sans-serif-headline: 'Guardian Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !default;

// grid settings
$gs-gutter: 20px;
$gs-baseline: 12px;
$gs-column-width: 60px;
$gs-row-height: 36px;
$gs-max-columns: 16;

// For popups.
$headerHeight: 36px;
$popup-toggle-arrow-size: 4px;
$old-ie: false !default;
// Search modal.
$zindex-modal: 1030;

// sass-mq configuration
$mq-responsive: true;
$mq-breakpoints: (
    mobile:  320px,
    tablet:  740px,
    desktop: 980px,
    leftCol: 1140px,
    wide:    1300px,

    // Tweakpoints
    desktopAd: 810px,
    mobileLandscape: 480px
);

@import '_mq';
@import '_defaults';
@import '_helpers';
@import '_palette';
@import '_ui';

.wf-loading {
    opacity: 0;
}

.wf-active,
.wf-inactive {
    opacity: 1;
}

.u-button-reset {
    -webkit-appearance: none;
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    padding: 0;
    margin: 0;

    &:focus {
        outline: none;
    }
}

.u-h {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}

.button {
    border-radius: 1000px;
    font: bold 13px/20px $f-sans-serif-text;
    text-decoration: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding-left: $gs-gutter / 2;
}

.button--bordered {
    border: 1px solid currentColor;
}

.button--large {
    padding-left: $gs-gutter / 5 * 3;
}

.button > .icon {
    fill: currentColor;
    width: 30px;
    height: 30px;
}

.button--large > .icon {
    width: 36px;
    height: 36px;
}

.button--small {
    font-size: 12px;
    padding-left: $gs-gutter / 5 * 2;

    > .icon {
        width: 24px;
        height: 24px;
    }
}

.creative {
    display: block;
    position: relative;
}

.creative__pixel {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1px;
    height: 1px;
}

.creative__image {
    display: block;
    object-fit: cover;
}

.creative__ctu {
    color: inherit;
    text-decoration: none;
}

.popup {
    position: absolute;
    left: 20px;
    right: 20px;
    z-index: 1;
    padding: 10px;

    background: rgba(0, 0, 0, .5);
    border-radius: 4px;

    > :first-child { margin-top: 0; }
    > :last-child { margin-bottom: 0; }
}

.icon {
    display: inline-block;
    vertical-align: middle;
}

.icon path {
    fill: inherit;
}

.js-toggle[aria-expanded="true"] > .icon--arrow-down {
    transform: rotate(180deg);
}

.blink {
    display: block;
    text-decoration: none;

    &:hover,
    &:focus {
        .blink__anchor {
            text-decoration: underline;
        }
    }
}

.justify--start { justify-content: flex-start; }

// Gimbap fonts

$news-accent: $news-main-2;

$font-scale: (
    header: (
        1: (font-size: 16, line-height: 20),
        2: (font-size: 18, line-height: 24),
        3: (font-size: 20, line-height: 24),
        4: (font-size: 22, line-height: 28),
        5: (font-size: 24, line-height: 28),
    ),
    headline: (
        1: (font-size: 14, line-height: 18),
        2: (font-size: 16, line-height: 20),
        3: (font-size: 20, line-height: 24),
        4: (font-size: 24, line-height: 28),
        5: (font-size: 28, line-height: 32),
        6: (font-size: 32, line-height: 36),
        7: (font-size: 36, line-height: 40),
        8: (font-size: 40, line-height: 44),
        9: (font-size: 44, line-height: 48),
    ),
    bodyHeading: (
        1: (font-size: 14, line-height: 22),
        2: (font-size: 16, line-height: 24),
        3: (font-size: 18, line-height: 28),
        4: (font-size: 20, line-height: 28),
    ),
    bodyCopy: (
        1: (font-size: 14, line-height: 20),
        2: (font-size: 16, line-height: 24),
        3: (font-size: 18, line-height: 28),
    ),
    textSans: (
        1: (font-size: 12, line-height: 16),
        2: (font-size: 13, line-height: 18),
        3: (font-size: 14, line-height: 20),
        4: (font-size: 14, line-height: 22),
        5: (font-size: 16, line-height: 22),
        6: (font-size: 18, line-height: 18),
    )
);

// Mixins

@mixin f-headline {
    font-family: $f-serif-headline;
    font-weight: normal;
}

@mixin f-headlineSans {
    font-family: $f-sans-serif-headline;
}

@mixin fs-headline($level, $size-only: false) {
    @include font-size(get-font-size(headline, $level), get-line-height(headline, $level));

    @if $size-only == false {
        @include f-headline;
    }
}

@mixin font-size($size, $line-height: $size) {
    font-size: convert-to-px($size);
    line-height: convert-to-px($line-height);
}

@mixin circular {
    border-radius: 1000px; // Android 2.3 cannot deal with '50%'
}

// Hide content visually, still readable by screen readers
@mixin u-h {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}

@mixin f-textSans {
    font-family: $f-sans-serif-text;
}

@mixin fs-textSans($level, $size-only: false) {
    @include font-size(get-font-size(textSans, $level), get-line-height(textSans, $level));

    @if $size-only == false {
        @include f-textSans;
    }
}

// Functions

@function get-scale($name, $font-scale: $font-scale) {
    @return map-get($font-scale, $name);
}

@function get-scale-level($name, $level, $font-scale: $font-scale) {
    @return map-get(get-scale($name, $font-scale), $level);
}

@function get-font-size($name, $level, $font-scale: $font-scale) {
    @return convert-to-px(map-get(get-scale-level($name, $level, $font-scale), font-size));
}

@function get-line-height($name, $level, $font-scale: $font-scale) {
    @return convert-to-px(map-get(get-scale-level($name, $level, $font-scale), line-height));
}

@function convert-to-px($value) {
    @if (type-of($value) == number and $value != 0) {
        $value: if(unitless($value), $value * 1px, $value);
    }
    @return $value;
}
