$f-serif-text: 'Guardian Text Egyptian Web', Georgia, serif !default;
$f-serif-headline: 'Guardian Egyptian Web', Georgia, serif !default;
$f-sans-serif-text: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !default;
$f-sans-serif-headline: 'Guardian Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !default;

// grid settings
$gs-gutter: 20px;
$gs-baseline: 12px;
$gs-column-width: 60px;
$gs-row-height: 36px;
$gs-max-columns: 16;

// Search modal.
$zindex-modal: 1030;

// For brand badge.
$left-column:      gs-span(2); // Grows to 3 columns on wide viewports
$left-column-wide: gs-span(3);

// sass-mq configuration
$mq-responsive: true;
$mq-breakpoints: (
    mobile:  320px,
    tablet:  740px,
    desktop: 980px,
    leftCol: 1140px,
    wide:    1300px,

    // Tweakpoints
    desktopAd: 810px,
    mobileLandscape: 480px
);

$creative-max-width: 1920px;

@import '_mq';
@import '_palette';
@import '_defaults';
@import '_ui';
@import '_helpers';

.wf-loading {
    opacity: 0;
}

.wf-active,
.wf-inactive {
    opacity: 1;
}

.u-root {
    position: relative;
}

.u-button-reset {
    -webkit-appearance: none;
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    padding: 0;
    margin: 0;

    &:focus {
        outline: none;
    }
}

.u-h {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.u-fauxlink {
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.button {
    border-radius: 1000px;
    font: bold 13px/20px $f-sans-serif-text;
    text-decoration: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding-left: $gs-gutter / 2;
}

.button--bordered {
    border: 1px solid currentColor;
}

.button--large {
    padding-left: $gs-gutter / 5 * 3;
}

.button > .icon {
    fill: currentColor;
    width: 30px;
    height: 30px;
}

.button--large > .icon {
    width: 36px;
    height: 36px;
}

.button--small {
    font-size: 12px;
    padding-left: $gs-gutter / 5 * 2;

    > .icon {
        width: 24px;
        height: 24px;
    }
}

.creative {
    display: block;
}

.creative__label {
    background-color: $neutral-8;
    color: #6e6e6e;
    font: normal .75rem/1.25 $f-sans-serif-text;
    height: 1.25em;
}

.creative__label--nope {
    display: none;
}

.creative__label-text {
    padding: 0 $gs-gutter / 2;

    @include mq(tablet) {
        padding: 0 $gs-gutter;
    }
}

.creative__pixel {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1px;
    height: 1px;
}

.creative__image {
    display: block;
    object-fit: cover;
}

.creative__ctu {
    color: inherit;
    text-decoration: none;
}

.popup {
    position: absolute;
    left: 20px;
    right: 20px;
    z-index: 1;
    padding: 10px;

    background: rgba(0, 0, 0, .5);
    border-radius: 4px;

    > :first-child { margin-top: 0; }
    > :last-child { margin-bottom: 0; }

    &[aria-expanded="false"] {
        display: none;
    }
}

.icon {
    display: inline-block;
    vertical-align: middle;
}

.icon path {
    fill: inherit;
}

.js-toggle[aria-expanded="true"] > .icon--arrow-down {
    transform: rotate(180deg);
}

.blink {
    display: block;
    text-decoration: none;

    &:hover,
    &:focus {
        .blink__anchor {
            text-decoration: underline;
        }
    }
}

.justify--start { justify-content: flex-start; }

@mixin circular {
    border-radius: 1000px; // Android 2.3 cannot deal with '50%'
}

@mixin content-gutter {
    padding-left: $gs-gutter/2;
    padding-right: $gs-gutter/2;

    @include mq(mobileLandscape) {
        padding-left: $gs-gutter;
        padding-right: $gs-gutter;
    }

}

// Hide content visually, still readable by screen readers
@mixin u-h {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@mixin f-textSans {
    font-family: $f-sans-serif-text;
}

// Functions

@function convert-to-px($value) {
    @if (type-of($value) == number and $value != 0) {
        $value: if(unitless($value), $value * 1px, $value);
    }
    @return $value;
}
