.hide-until-tablet {
    @include mq($until: tablet) {
        display: none !important;
    }
}

.hide-until-mobile-landscape {
    @include mq($until: mobileLandscape) {
        display: none !important;
    }
}

.mobile-only {
    @include mq(tablet) {
        display: none !important;
    }
}

.gs-container {
    position: relative;

    @include mq(tablet) {
        padding: 0 calc(50% - #{(gs-span(9) + $gs-gutter * 2) / 2});
    }

    @include mq(desktop) {
        padding: 0 calc(50% - #{(gs-span(12) + $gs-gutter * 2) / 2});
    }

    @include mq(leftCol) {
        padding: 0 calc(50% - #{(gs-span(14) + $gs-gutter * 2) / 2});
    }

    @include mq(wide) {
        padding: 0 calc(50% - #{(gs-span($gs-max-columns) + $gs-gutter * 2) / 2});
    }
}

.gs-mcontainer {
    position: relative;
    margin-left: auto;
    margin-right: auto;

    @include mq(tablet) {
        max-width: gs-span(9);
    }

    @include mq(desktop) {
        max-width: gs-span(12);
    }

    @include mq(leftCol) {
        max-width: gs-span(14);
    }

    @include mq(wide) {
        max-width: gs-span($gs-max-columns);
    }
}
