.hide-until-tablet {
    @media (max-width: 739px) {
        display: none !important;
    }
}

.mobile-only {
    @media (min-width: 740px) {
        display: none !important;
    }
}

.gs-container {
    position: relative;
    margin: 0 auto;

    @include mq(tablet) {
        max-width: gs-span(9) + $gs-gutter * 2;
    }

    @include mq(desktop) {
        max-width: gs-span(12) + $gs-gutter * 2;
    }

    @include mq(leftCol) {
        max-width: gs-span(14) + $gs-gutter * 2;
    }

    @include mq(wide) {
        max-width: gs-span($gs-max-columns) + $gs-gutter * 2;
    }
}
