.hide-until-tablet {
  @include mq($until: tablet) {
    display: none !important;
  }
}

.hide-until-mobile-landscape {
  @include mq($until: mobileLandscape) {
    display: none !important;
  }
}

.mobile-only {
  @include mq(tablet) {
    display: none !important;
  }
}

.gs-container {
  position: relative;

  @include mq(tablet) {
    padding: 0 calc(50% - #{(gs-span(9) + $gs-gutter * 2) / 2});
  }

  @include mq(desktop) {
    padding: 0 calc(50% - #{(gs-span(12) + $gs-gutter * 2) / 2});
  }

  @include mq(leftCol) {
    padding: 0 calc(50% - #{(gs-span(14) + $gs-gutter * 2) / 2});
  }

  @include mq(wide) {
    padding: 0 calc(50% - #{(gs-span($gs-max-columns) + $gs-gutter * 2) / 2});
  }
}
