@use "core";

$phablet: 660px;

.creative--hosted {
  font-family: $f-sans-serif-text;
  min-height: 100px;
  background: #e9e9e9;

  @include mq(tablet) {
    background: none;
  }
}

.fc-container__inner {
  position: relative;
  padding: 6px 0 24px;
  border-top: 1px solid;
  margin: 0 auto;
  background: #e9e9e9;

  @include mq($until: mobileLandscape) {
    margin-left: 10px;
    margin-right: 10px;
  }

  @include mq(mobileLandscape, $phablet) {
    margin-left: 20px;
    margin-right: 20px;
  }

  @include mq($phablet) {
    width: 620px;
  }

  @include mq(tablet) {
    width: map.get($mq-breakpoints, tablet);
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }

  @include mq(desktop) {
    width: map.get($mq-breakpoints, desktop);
  }

  @include mq(leftCol) {
    width: map.get($mq-breakpoints, leftcol);
  }

  @include mq(wide) {
    width: map.get($mq-breakpoints, wide);
  }
}

.hostedbadge {
  bottom: 24px;
  width: 80px;
  position: relative;
  margin-left: calc(100% - 100px);
  margin-top: 18px;
  background-color: #fff;

  @include mq(leftCol) {
    position: absolute;
    width: 112px;
    margin-left: 0;
  }
}

.hostedbadge__info {
  font-size: 12px;
  line-height: 13px;
  height: auto;
  padding: 5px;
  color: #121212;
  margin: 0;

  .hosted-bright & {
    color: #fff;
  }

  @include mq(leftCol) {
    text-align: center;
    padding: 6px 0 8px;
  }
}

.hostedbadge__logo {
  width: 100%;
  display: block;
}

.hosted-trafficdriver__tile {
  text-decoration: none;
  display: inline-block;
  position: relative;
  flex: 1;

  @include mq($until: mobileLandscape) {
    margin-left: 0;

    &:not(:first-child) {
      margin-top: 10px;

      .hosted-trafficdriver__image {
        display: none;
      }
    }
  }

  @include mq(mobileLandscape, tablet) {
    margin-left: 0;

    &:first-child {
      margin-right: 20px;
    }

    &:nth-child(n+3) {
      margin-top: 10px;
      flex: 0 0 100%;

      .hosted-trafficdriver__image {
        display: none;
      }
    }
  }

  @include mq(tablet) {
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  .hosted-trafficdriver__image {
    background-size: cover;
    background-position: center;

    &::before {
      content: "";
      padding-top: 60%;
      display: block;
    }
  }

  .with-2-elements &:nth-child(3),
  .with-2-elements &:nth-child(4),
  .with-3-elements &:nth-child(4) {
    display: none;
  }
}

@include mq(desktop) {
  .with-2-elements {
    .hosted-trafficdriver__image {
      width: 50%;
    }

    .hosted-trafficdriver__title {
      position: absolute;
      top: 0;
      left: 50%;
      font-size: 1.15rem;
      line-height: 26px;
      padding: 8px;
    }
  }
}

.hosted-trafficdriver__title {
  padding: 6px 6px 18px;
  font-size: 1.15rem;
  line-height: 24px;
  font-weight: 500;
  color: #121212;

  .hosted-bright & {
    color: #fff;
  }
}

.hosted-trafficdriver__content-type {
  opacity: 0.5;
}

.hosted-trafficdriver__body {
  position: relative;
  display: flex;

  @include mq($until: mobileLandscape) {
    flex-direction: column;
  }

  @include mq(mobileLandscape) {
    flex-flow: row wrap;
  }

  @include mq(leftCol) {
    margin-left: 160px;
  }

  @include mq(wide) {
    margin-left: 240px;
    width: 940px;
  }
}

.fc-container__header__title {
  float: left;
  font-size: 1.25rem;
  font-weight: 600;
  color: #121212;
  line-height: 22px;
  margin: 0;

  @include mq($until: leftCol) {
    font-size: 20px;
    line-height: 24px;
  }

  @include mq(leftCol, wide) {
    width: 140px;
  }
}
