.popup--paidfor {
    background: $neutral-1;
    box-shadow: none;
    left: 100%;
    top: 100%;
    padding: 16px;
    color: #ffffff;
    transform: translate(-50%, 0);
    width: 240px;
    border-radius: 4px;
    font-weight: 700;
    z-index: 32000;

    &,
    h3 {
        font-family: $f-sans-serif-headline;
    }

    &::before {
        content: '';
        border: solid transparent;
        border-bottom-color: $neutral-1;
        border-style: solid;
        border-width: 6px;
        height: 0;
        width: 0;
        position: absolute;
        bottom: 100%;
        left: 35%;
        transform: translate(-50%, 0);
    }
}

.popup--paidfor__title {
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 1em;
}

.popup--paidfor__link {
    color: $paidfor-background;
    font-size: 13px;
    line-height: .8;
    display: block;

    svg {
        display: inline-block;
        vertical-align: middle;
        fill: $paidfor-background;
        height: 20px;
        width: 20px;
    }
}
