@import '_core';
@import '_adverts';
@import '_adverts-capi';
@import '_advert';

.inline-arrow-down > svg {
	width: 24;
	height: 18;
}

.inline-arrow-right > svg {
	width: 30;
	height: 30;
}

.inline-glabs-logo > svg {
	width: 100;
	height: 31;
}
