$brand-colour: #fedd79;

body {
    border-top: 15px solid #cdcccc;
    background: lighten($brand-colour, 20%);
    font-family: sans-serif;
}

.attribution {
    background: $brand-colour;
    position: absolute;
    bottom: 6px;
    left: 10px;
    padding: 2px;
    font-weight: bold;
    font-size: 10px;
}

.image-link,
img {
    display: block;
    width: 100%;
}

.title {
    font-weight: bold;
    margin: 6px 100px 40px 10px;
}

.title-link {
    color: inherit;
    text-decoration: none;
}

.body,
.advertiser {
    display: none;
}

.call-to-action {
    display: flex;
    position: absolute;
    bottom: 6px;
    right: 10px;
}

.call-to-action-link {
    border: 1px solid #bdbdbd;
    border-radius: 16px;
    color: #767676;
    font-size: 12px;
    padding: 8px 16px;
    text-decoration: none;

    &:hover {
        background: rgba(0,0,0,.1);
    }
}

.logo {
    position: absolute;
    right: 10px;
    top: 180px;
    width: 48px;
}
