/*

Beware lots of CSS properties are disallowed here

Change the 'width' value in the DFP preview to 300px for best results.

*/

$brand-colour: #ffce4b;

body {
    background: #fff7de;
    font-family: Helvetica, arial, sans serif;
    color: #333333;
}

.attribution {
    background: $brand-colour;
    border-radius: 100%;
    position: absolute;
    padding: 8px 7px;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    margin: 4px;
}

.ads .image-link,
img {
    display: block;
    width: 100%;
}

.title {
    font-size: 15px;
    line-height: 17px;
    font-weight: 900;
    margin: 6px 100px 10px 10px;
}

.title-link {
    color: inherit;
    text-decoration: none;
}

.body {
    font-size: 12px;
    line-height: 14px;
    font-family: Georgia, serif;
    margin: 6px 100px 10px 10px;
}

.advertiser {
    font-size: 12px;
    line-height: 14px;
    margin: 6px 100px 10px 10px;

}

.advertiser-link {
    color: #333333;
    &:hover {
        color: #ffbb00;
    }
}

.call-to-action {
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 6px;
}

.call-to-action-link {
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 16px;
    color: #333333;
    font-size: 12px;
    padding: 5px 10px;
    text-decoration:  none;
    font-weight: 900;

    &:hover {
        background: #333333;
        color: #ffffff;
        border-color: transparent;
    }
}

.logo {
    position: block;
    float: right;
    margin-right: 6px;
    margin-top: 6px;
    bottom: 43px;
    width: 70px;
    @media ( max-height: 285px ){
        bottom: 41px;
        width: 48px;
    }
}
