@use "core";
@use "gimbap-branding";
@use "gimbap-logo";
@use "gimbap-wrap";
@use "gimbap";

.gimbap-wrap__body--2x1x1 > :nth-child(4) {
  display: none;
}

.gimbap__arrow {
  display: none;
}

.gimbap__arrow--show {
  display: inline-block;
}

.gimbap {
  text-decoration: none;
}

.gimbap__title {
  margin-top: 0;
}

.gimbap__cta {
  margin-top: 0;
  margin-bottom: 0.5rem;
  filter: brightness(0.5);
}
