version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'monday'
      time: '09:00'
    groups:
      rollup:
        patterns:
          - 'rollup'
        update-types:
          - 'minor'
          - 'patch'
      svelte:
        patterns:
          - 'svelte'
        update-types:
          - 'minor'
          - 'patch'
      types:
        patterns:
          - '@types/*'
        update-types:
          - 'minor'
          - 'patch'
      linters:
        patterns:
          - '*eslint*'
          - '*prettier*'
        update-types:
          - 'minor'
          - 'patch'
      typescript:
        patterns:
          - 'typescript'
        update-types:
          - 'patch'
      guardian:
        patterns:
          - '@guardian/*'
        update-types:
          - 'minor'
          - 'patch'
      minor-devDependencies:
        dependency-type: 'development'
        update-types:
          - 'minor'
          - 'patch'
        exclude-patterns:
          - 'svelte'
          - 'rollup'
          - '@guardian/*'
          - '@types/*'
          - '*eslint*'
          - '*prettier*'
          - 'typescript'
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
  - package-ecosystem: 'pip'
    directory: '/scripts'
    schedule:
      interval: 'monthly'
