{
	"arrowParens": "always",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"jsxSingleQuote": false,
	"printWidth": 80,
	"quoteProps": "as-needed",
	"semi": true,
	"singleQuote": true,
	"trailingComma": "all",
	"plugins": ["prettier-plugin-svelte"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
