@import '_core';
@import '_adverts-capi';
@import '_hosted';

.advert__image-container {
  position: relative;
  img {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.advert__kicker {
  color: inherit;
  opacity: .5;
}

.advert__title > .icon {
  width: 1.1em;
  height: .75em;
  fill: #333333;
  opacity: .5;

  .hosted-bright & {
    fill: #ffffff;
  }
}

body {
	margin: 0;
}
