@font-face {
	font-family: 'Guardian Egyptian Web';
	src: url('https://assets.guim.co.uk/static/frontend/fonts/guardian-headline/noalts-not-hinted/GHGuardianHeadline-Medium.woff2?http3=true')
			format('woff2'),
		url('https://assets.guim.co.uk/static/frontend/fonts/guardian-headline/latin1-not-hinted/GHGuardianHeadline-Medium.woff?http3=true')
			format('woff'),
		url('https://assets.guim.co.uk/static/frontend/fonts/guardian-headline/latin1-not-hinted/GHGuardianHeadline-Medium.ttf?http3=true')
			format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
