$brand-colour: #D16970;
@import '_core';

.creative--programmatic-mpu {
    margin: 0 auto;
    width: 300px;
    height: 250px;
    top: 0;
    left: 0;
    position: absolute;
}

.creative__image {
  width: 300px;
  height: 250px;
}

.creative__link {
  margin: 24px 0 0 0;
  width: 300px;
  height: 250px;
  top: 0;
  left: 0;
  position: absolute;
}

.creative__label {
  background-color: #f6f6f6;
  border-top: 1px solid #dfdfdf;
  color: #6e6e6e;
  font: normal 0.75rem/1.9 "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  height: 2em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.creative__label--no {
  display: none; }

.creative__label-text {
  padding: 0 10px;
}
@media (min-width: 46.25em) {
  .creative__label-text {
    padding: 0 20px; } }


.creative__brand {
  background: #ffffff;
  font: normal 0.75rem/1.9 "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  bottom: -24px;
  left: 0;
}

.creative__brand-label {
  /*background: $brand-colour;
  color: white;*/
  background: white;
  color: $brand-colour;
  font-size: 13px;
  padding: 0 7px 0 3px;
}

.creative__brand-image {
  display: block;
  max-width: 60px;
  padding: 0 5px;
}

/* Tooltip css */
.tooltip {
  display: inline-block;
  font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
}

.info-icon {
  //border: 1px solid white;
  //border-radius: 50%;
  padding:3px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.creative__brand-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
}

.creative__brand-wrapper .handle {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  background-color: $brand-colour;
  font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: white;
  font-size: 14px;
  border: 1px solid #D16970;
  border-radius: 2px;
  padding: 2px;
  bottom: 2px;
}

.creative__brand-wrapper .creative__brand {
  max-width: 0;
  -webkit-transition: max-width 1s;
  transition: max-width 1s;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 20px;
}
.creative__brand-wrapper:hover .creative__brand {
  max-width: 70px;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}