$brand-colour: #fedd79;

@import '_core';
@import '_roundel';

.creative--facebook {
    display: none;

    font-size: .75rem;
    line-height: 1rem;
    min-height: 250px;
    position: relative;
    text-align: left;

    border-top: 1px solid $brand-colour;
    box-sizing: border-box;
    background: lighten($brand-colour, 20%);
    font-family: $f-sans-serif-headline;
    min-height: 250px;
    padding-bottom: $gs-baseline;
}

.advert__image-container {
}

.advert__title {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: .25em;
}

.advert__meta {
    font-size: 1rem;
    margin-bottom: 1em;
}

.advert__meta,
.advert__title {
    line-height: 1.2;
}

.icon--external-link {
    width: 14px;
    height: 10px;
    fill: $neutral-1;
}

.advert__title,
.advert__meta,
.advert__more {
    color: $neutral-1;
    margin-left: $gs-gutter / 2;
    margin-right: $gs-gutter / 2;
}

.advert__brand {
    position: absolute;
    bottom: $gs-baseline;
    right: $gs-gutter / 2;
    width: $gs-baseline * 4;
    height: $gs-baseline * 4;
}

.roundel .popup {
    background: $brand-colour;

    a {
        color: inherit;
        font-weight: bold;
    }

    &::after {
        border-bottom-color: $brand-colour;
    }
}

.button .icon--external-link {
    margin-left: $gs-gutter / 2;
    width: 14px;
    height: 10px;
}

.button {
    border: 1px solid;
    padding: 8px 10px;
    line-height: 1;
}
