$brand-colour: #fedd79;

@import '_core';
@import '_roundel';

.creative--facebook {
    display: none;

    font-size: .75rem;
    line-height: 1rem;
    min-height: 250px;
    position: relative;
    margin: 0 $gs-gutter / 2;
    text-align: left;

    border-top: 2px solid $brand-colour;
    box-sizing: border-box;
    background: lighten($brand-colour, 20%);
    font-family: $f-sans-serif-headline;
    min-height: 250px;
    padding-bottom: $gs-baseline;
}

.advert__image-container {
    height: 170px;

    > img {
        object-fit: cover;
    }
}

.advert__title,
.advert__meta {
    color: $neutral-1;
    margin-left: $gs-gutter / 2;
}

.advert__title {
    font-size: 18px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 80px;
}

.advert__meta {
    font-size: 16px;
}

.advert__meta,
.advert__title {
    line-height: 1.2;
    margin-right: 100px;
}

.advert__more {
    position: absolute;
    bottom: $gs-baseline / 2;
    right: $gs-gutter / 2;
    color: $neutral-2;
    border-color: $neutral-3;
}

.icon--external-link {
    width: 14px;
    height: 10px;
    fill: $neutral-1;
}

.advert__brand {
    background: white;
    position: absolute;
    top: 154px;
    right: $gs-gutter / 2;
}

.advert__logo {
    width: $gs-baseline * 4;
    height: $gs-baseline * 4;
}

.roundel .popup {
    background: $brand-colour;

    a {
        color: inherit;
        font-weight: bold;
    }

    &::after {
        border-bottom-color: $brand-colour;
    }
}

.button .icon--external-link {
    margin-left: $gs-gutter / 2;
    width: 14px;
    height: 10px;
}

.button {
    border: 1px solid;
    padding: 8px 10px;
    line-height: 1;
}

img {
    display: block;
}
