@import '_core';


.creative--hosted {
    font-family: $f-sans-serif-text;
    min-height: 100px;
}

.fc-container__inner {
    position: relative;
    padding: 6px 20px 24px;
    border-top: 1px solid #111199;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: $tablet) {
        padding-left: 0;
        padding-right: 0;
        margin: 0 20px;
    }
    @media (max-width: $mobileLandscape) {
        margin: 0 10px;
    }
    @media (min-width: $phablet) {
        width: 620px;
    }
    @media (min-width: $tablet) {
        width: 700px;
    }
    @media (min-width: $desktop) {
        width: 940px;
    }
    @media (min-width: $leftCol) {
        width: 1100px;
    }
    @media (min-width: $wide) {
        width: 1260px;
    }
}

.hostedbadge {
    bottom: 24px;
    width: 80px;
    position: absolute;
    @media (min-width: $leftCol) {
        width: 112px;
    }
    @media (max-width: $phablet) {
        position: relative;
        margin-left: calc(100% - 100px);
        margin-top: 18px;
    }
}

.hostedbadge__info {
    font-size: 13px;
    line-height: 11px;
    height: auto;
    padding: 3px 0 2px;
    color: #333333;
    margin: 0;
    text-align: center;
}

.hostedbadge__logo {
    width: 100%;
    display: block;
}

.hosted-trafficdriver__tile {
    text-decoration: none;
    display: inline-block;
    position: relative;
    flex: 1;
    &:not(:first-child){
        margin-left: 20px;
        @media (max-width: $phablet) {
            margin-left: 0;
            margin-top: 10px;
            .hosted-trafficdriver__image{
                display: none;
            }
        }
    }

    .hosted-trafficdriver__image{
        background-size: cover;
        background-position: center;

        &:before {
            content: '';
            padding-top: 100%;
            display: block;
        }
    }

    .with-2-elements &:nth-child(3),
    .with-2-elements &:nth-child(4),
    .with-3-elements &:nth-child(4) {
        display: none;
    }
}

@media (min-width: $desktop) {
    .with-2-elements {
        .hosted-trafficdriver__image {
            width: 50%;
        }
        .hosted-trafficdriver__title {
            position: absolute;
            top: 0;
            left: 50%;
            font-size: 18px;
        }
    }
}

.hosted-trafficdriver__title {
    padding: 5px 5px 12px;
    font-size: 16px;
}

.hosted-trafficdriver__content-type {
    opacity: 0.5;
}

.hosted-trafficdriver__body {
    position: relative;
    display: flex;
    margin-left: 160px;
    @media (max-width: $phablet) {
        margin-left: 0;
        flex-direction: column;
    }
    @media (min-width: $wide) {
        margin-left: 240px;
        width: 940px;
    }
}

.fc-container__header__title {
    float: left;
    font-size: 22px;
    line-height: 28px;
    margin: 0;
    @media (min-width: $phablet) {
        width: 140px;
    }
    @media (max-width: $leftCol){
        font-size: 20px;
        line-height: 24px;
    }
}

@mixin side-margins-position($container-width) {
    // stupid fix for sasslint AST error
    $size: $container-width + 40px;

    &:before,
    &:after {
        width: calc((100% - #{$size}) / 2);
    }
}

.l-side-margins {
    position: relative;
    height: 100%;

    @media (min-width: $tablet) {
        &:after,
        &:before {
            content: '';
            width: 0;
        }
        @include side-margins-position(gs-span(9));
    }

    @media (min-width: $desktop) {
        @include side-margins-position(gs-span(12));
    }

    @media (min-width: $leftCol) {
        @include side-margins-position(gs-span(14));
    }

    @media (min-width: $wide) {
        @include side-margins-position(gs-span(16));
    }
}