$brand-colour: #69d1ca;

@import '_core';
@import '_roundel';

.creative--glabs-mpu {
    background: $brand-colour;
    color: #333;
    margin: auto;
    height: 250px;
    max-width: 320px;
    position: relative;

    font-family: $f-sans-serif-text;
    line-height: 20px;
}

.creative__image {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.creative__title {
    background: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    color: #fff;
    font: normal 24px/28px $f-sans-serif-headline;

    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 50px 110px 10px 10px;
}

.creative__brand {
    background: $brand-colour;
    color: #767676;
    font-size: 13px;

    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 10px 0 0;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
}

.creative__brand-image {
    background: white;
    max-width: 90px;
    vertical-align: middle;
}

.roundel .popup {
    background: #333;
    color: #fff;

    a {
        color: $brand-colour;
    }

    &::after {
        border-bottom-color: #333;
    }
}
