<aside class="gimbap-wrap gimbap-wrap--tone-[%ComponentTone%]" role="complementary" data-link-name="creative | ad multiple manual | [%omnitureId%]">
    <div class="gimbap-wrap__box">
        <header class="gimbap-wrap__header">
            <h3 class="gimbap-wrap__title">
                <a class="gimbap-wrap__logo gimbap-wrap__logo--[%ComponentTone%] gimbap-logo gimbap-logo--tone-[%ComponentTone%]" href="%%CLICK_URL_UNESC%%" data-link-name="title"></a>
            </h3>
            <p class="gimbap-wrap__message">[%ComponentMessage%]</p>
        </header>
        <span class="gimbap-wrap__mainlogo inline-marque-36 inline-icon">{{#svg}}marque{{/svg}}</span>
        <div class="gimbap-wrap__body gimbap-wrap__body--simple gimbap-wrap__body--[%Layout%]">
            <a class="gimbap gimbap--simple gimbap--richmedia gimbap--tone-[%ComponentTone%] [%GimbapEffects%]" href="%%CLICK_URL_UNESC%% [%Offer1Url%]" data-link-name="[%Offer1Title%]">
                <h4 class="gimbap-richmedia__title"><span class="gimbap-richmedia__highlight">[%Offer1Highlight%]</span> / [%Offer1Title%]</h4>
                <p class="gimbap-richmedia__headline">[%Offer1Headline%]</p>
                <% if ([%Offer1Date%]) { %><span class="gimbap-richmedia__meta gimbap-richmedia__meta--date"><{{#svg}}clock{{/svg}} [%offer1Date%]</span><% } %>
                <% if ([%Offer1Place%]) { %><span class="gimbap-richmedia__meta gimbap-richmedia__meta--place">[%iconLocation%] [%Offer1Place%]</span><% } %>
                <% if ([Offer1Price%]) { %><span class="gimbap-richmedia__price">&#163; [%Offer1Price%]</span><% } %>
                <% if ([Offer1Discount%]) { %><span class="gimbap-richmedia__meta gimbap-richmedia__meta--saving">[%iconBasket%] [%Offer1Discount%]</span><% } %>
                <img class="gimbap__image gimbap-richmedia__img" src="[%Offer1Image%]" />
            </a>
            <a class="gimbap gimbap--simple gimbap--richmedia gimbap--tone-[%ComponentTone%] [%GimbapEffects%]" href="%%CLICK_URL_UNESC%% [%Offer1Url%]" data-link-name="[%Offer2Title%]">
                <h4 class="gimbap-richmedia__title"><span class="gimbap-richmedia__highlight">[%Offer2Highlight%]</span> / [%Offer2Title%]</h4>
                <p class="gimbap-richmedia__headline">[%Offer2Headline%]</p>
                <% if ([%Offer2Date%]) { %><span class="gimbap-richmedia__meta gimbap-richmedia__meta--date"><{{#svg}}clock{{/svg}} [%offer2Date%]</span><% } %>
                <% if ([%Offer2Place%]) { %><span class="gimbap-richmedia__meta gimbap-richmedia__meta--place">[%iconLocation%] [%Offer2Place%]</span><% } %>
                <% if ([Offer2Price%]) { %><span class="gimbap-richmedia__price">&#163; [%Offer2Price%]</span><% } %>
                <% if ([Offer2Discount%]) { %><span class="gimbap-richmedia__meta gimbap-richmedia__meta--saving">[%iconBasket%] [%Offer2Discount%]</span><% } %>
                <img class="gimbap__image gimbap-richmedia__img" src="[%Offer2Image%]" />
            </a>
        </div>
    </div>
</aside>

<script>
    var logoSvgs = {
        'masterclasses': '{{#svg}}logo-masterclasses-horizontal{{/svg}}',
        'holidays': '{{#svg}}logo-holidays-horizontal{{/svg}}',
        'soulmates': '{{#svg}}logo-soulmates-horizontal{{/svg}}'
    };
</script>