@use "core";
@use "hosted-native-card";

$badge-width: 80px;
$logo-height: dfpvar(logoheight);
$logo-width: dfpvar(logowidth);
$hosted-brand-colour: dfpvar(brandcolour);

.logo-container {
  height: calc(#{$badge-width} * #{$logo-height} / #{$logo-width});
}

.hostedbadge,
.creative--hosted-mpu {
  background-color: $hosted-brand-colour;
}

.creative--hosted-mpu {
  height: 250px;
  max-width: 320px;
}

.creative__content-title--hosted {
  $line-height: 24px;

  padding: 10px 100px 0 10px;
  height: 3 * $line-height;
}
