[data-tone='brand'] {
	--bg: #012937;
}

[data-tone='brand-new'] {
	--bg: var(--sport-300);
}

[data-tone='membership'] {
	--bg: #2d4391;
}

[data-tone='travel'] {
	--bg: #007ba6;
}

[data-tone='subscription'] {
	--bg: #d01317;
}

[data-tone='subs-rebrand'] {
	--bg: var(--sport-300);
	--header-btn-bg: var(--brand-alt-400);
}

[data-tone='live'] {
	--bg: #c83877;
}

[data-tone='network'] {
	--bg: #66a998;
}

[data-tone='paid-for'] {
	--bg: var(--labs-400);
}

[data-tone='money'] {
	--bg: #b39069;
}

[data-tone='book'] {
	--bg: #8e246f;
}

[data-tone='climate'],
[data-tone='climate2'] {
	--bg: var(--brand-alt-400);
}

[data-tone='job'] {
	--bg: #469d93;
}

[data-tone='weekly'] {
	--bg: #2c363b;
}

[data-tone='members'] {
	--bg: #bb3a7f;
}

[data-tone='patron'] {
	--bg: #4f5249;
}

[data-tone='lifestyle'] {
	--bg: var(--lifestyle-400);
}

[data-tone='support'] {
	--bg: var(--opinion-500);
}
