@font-face {
	font-family: 'GuardianTextEgyptian';
	src:
		url('https://assets.guim.co.uk/static/frontend/fonts/guardian-textegyptian/noalts-not-hinted/GuardianTextEgyptian-Bold.woff2')
			format('woff2'),
		url('https://assets.guim.co.uk/static/frontend/fonts/guardian-textegyptian/latin1-not-hinted/GuardianTextEgyptian-Bold.woff')
			format('woff'),
		url('https://assets.guim.co.uk/static/frontend/fonts/guardian-textegyptian/latin1-not-hinted/GuardianTextEgyptian-Bold.ttf')
			format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
