[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
googleads = "==48.*"
python-dotenv = "*"
termcolor = "*"
argparse = "*"

[dev-packages]

[requires]
python_version = "3.11"
