@import '_core';
@import '_adverts';
@import '_advert';
@import '_adverts-capi';
@import '_popup-paidfor';
@import '_paidfor-meta';
@import '_palette';

.adverts {
    color: $neutral-1;
}

.adverts__logo:hover {
    text-decoration: underline;
}

.popup {
    box-sizing: border-box;
}

.icon--glabs-logo {
    max-height: 31px;
}
