@import '_core';
@import '_adverts';
@import '_advert';
@import '_adverts-capi';
@import '_popup-paidfor';
@import '_paidfor-meta';
@import '_palette';

.adverts {
    color: $neutral-1;
}

.adverts__logo:hover {
    text-decoration: underline;
}


.popup {
    background: #333;
    box-sizing: border-box;
    color: #fff;
    font-size: 14px;
    line-height: 16px;

    a {
        color: #69d1ca;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}

.icon--glabs-logo {
    width: 75px;
    max-height: 31px;
}

.icon--arrow-down {
    height: 9px;
    width: 12px;
}

.icon--arrow-right {
    width: 20px;
    height: 20px;
    fill: currentColor;
}
