@import '_core';
@import '_adverts';
@import '_advert';
@import '_adverts-capi';
@import '_paidfor-meta';
@import '_palette';
@import '_popup-paidfor';

.adverts {
    color: $neutral-1;
}

.advert__title {
  @include mq($until: tablet) {
    margin-right: $gs-gutter * 5;
    min-height: $gs-baseline * 5;
  }
}

.badge {
  display: inline-block;
  @include mq($until: tablet) {
    text-align: center;
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.badge__label {
  width: 100%;
  text-align: center;
}

.badge__link {
  display: inline-block;
  @include mq($until: tablet) {
    display: block;
  }
}

.badge__logo {
  margin-left: 0;
  max-width: $gs-gutter * 5;
}

.adverts__logo:hover {
    text-decoration: underline;
}

.icon--glabs-logo {
    width: 75px;
    max-height: 31px;
}

.adverts__stamp {
    @include mq($until: tablet) {
        position: absolute;
        right: $gs-gutter / 2;
        top: $gs-baseline / 2;
    }

}
