.ad-slot__label {
    max-width: 1300px;
    font-size: .75rem;
    line-height: 1.25rem;
    position: relative;
    height: 1.5rem;
    background-color: #f6f6f6;
    margin: 0 auto;
    padding: 0 .5rem;
    border-top: .0625rem solid #dfdfdf;
    color: #6e6e6e;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}
