@import '_core';
@import '_hosted';

.advert__image-container {
  position: relative;
  img {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.advert__kicker > .icon {
  width: 1.1em;
  height: .75em;
  margin-right: .3em;
  fill: #333333;

  .hosted-bright & {
    fill: #ffffff;
  }
}
