@use "core";
@use "adverts-capi";
@use "hosted";

.advert__image-container {
  position: relative;

  img {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.advert__kicker {
  color: inherit;
  opacity: 0.5;
}

.advert__title > .icon {
  width: 1.1em;
  height: 0.75em;
  fill: #333;
  opacity: 0.5;

  .hosted-bright & {
    fill: #fff;
  }
}
