$guardian-brand:         #c70000;
$guardian-brand-light:   #94b1ca;
$guardian-brand-dark:    #121212;

$error:                  #d61d00;
$success:                #4a7801;

// Neutral palette
$neutral-1:              #333333;
$neutral-2:              #767676;
$neutral-3:              #bdbdbd;
$neutral-4:              #dcdcdc;
$neutral-5:              #dfdfdf;
$neutral-6:              #eaeaea;
$neutral-7:              #f1f1f1;
$neutral-8:              #f6f6f6;
$neutral-2-contrasted:   darken($neutral-2, 3%);

// News palette
$news-main-1:            #005689;
$news-main-2:            #4bc6df;
$news-support-1:         #aad8f1;
$news-support-2:         #197caa;
$news-support-3:         #69d1ca;
$news-support-4:         #66a998;
$news-support-5:         #aad801;
$news-support-6:         #63717a;
$news-support-7:         #484f53;

// Features palette
$features-main-1:        #7d0068;
$features-main-2:        #b82266;
$features-support-1:     #951c55;
$features-support-2:     #4e0375;
$features-support-3:     #fdadba;
$features-support-4:     #dc2a7d;

// Comment palette
$comment-main-1:         #c05303;
$comment-main-2:         #ff9b0b;
$comment-support-1:      #7d7569;
$comment-support-2:      #efefec;
$comment-support-3:      #ffce4b;
$comment-support-4:      #e6711b;

// Multimedia palette
$multimedia-main-1:      #333333;
$multimedia-main-2:      #c70000;
$multimedia-support-1:   #c5d4ea;
$multimedia-support-2:   #507892;
$multimedia-support-3:   #002c59;
$multimedia-support-4:   #484848;
$multimedia-support-5:   #161616;

// Futurelearn palette
$futurelearn-main-1:      #333333;
$futurelearn-main-2:      #f18b00;
$futurelearn-support-1:   #c5d4ea;
$futurelearn-support-2:   #507892;
$futurelearn-support-3:   #002c59;
$futurelearn-support-4:   #484848;
$futurelearn-support-5:   #161616;

// Live palette
$live-main-1:            #f5b3c7;
$live-main-2:            #e71c77;
$live-support-1:         #ff5b3a;
$live-support-2:         #800c0c;
$live-support-3:         #a60947;

// Maps palette
$maps-main-1:            #1c6326;
$maps-main-2:            #298422;
$maps-support-1:         #ceb41d;
$maps-support-2:         #a9af2b;
$maps-support-3:         #5ebfba;
$maps-support-4:         #72af7e;

// External content palette
$external-main-1:        #1c6326;
$external-support-1:     #a9af2b;

$paid-article:              #d9d9d9;
$paid-article-bg:           #d1d1d1;
$paid-article-header:       #bfbfbf;
$paid-article-header-bg:    #b8b8b8;
$paid-article-subheader:    #f6f6f6;
$paid-article-subheader-bg: #c4c4c4;
$paid-article-media-bg:     #bbb7b1;
$paid-article-icon:         #767676;
$paid-article-brand:        #69d1ca;
$paid-article-mpu:          #cccccc;
$paidfor-background:     $news-support-3;
$rainbow-red:               #ed1c24; // from Guss
$paid-card-kicker:        #626262;

$media-background:       $multimedia-support-5;

// Membership
// =============================================================================

$membership-default:     #2d4391;

// Lifestyle (magenta)
$lifestyle-dark:         #7d0068;
$lifestyle-main:         #bb3b80;
$lifestyle-bright:       #ffabdb;
$lifestyle-pastel:       #fec8d3;
$lifestyle-faded:        #feeef7;

// New garnett colours
// =============================================================================

$guardian-books-rebrand:     #8e246f;
$guardian-live-rebrand:     #c83877;
$guardian-jobs-rebrand:     #469d93;
$guardian-travel-rebrand:     #007ba6;
$guardian-money-rebrand:     #b39069;
$guardian-masterclasses-rebrand:     #f4bc44;
$guardian-subscriptions-rebrand:     #d01317;
$guardian-subscriptions-rebrand-blue:     #005689;
$guardian-generic-rebrand:     #012937;
$guardian-weekly-rebrand:     #2c363b;
$guardian-members-rebrand:     #bb3a7f;
$news-garnett-highlight: #ffe500;
$guardian-patron: #4f5249;
$guardian-highlight-hover: #F2AE00;
$guardian-support: #FF7F0F;