@import "_core";
@import "_adverts";
@import "_advert";
@import "_adverts-capi";
@import "_paidfor-meta";
@import "_popup-paidfor";

.paidfor-meta__more .paidfor-meta__label {
  font-weight: normal;
}

.adverts--legacy-single.adverts--capi.adverts--paidfor {
  .adverts__row,
  .adverts__body {
    padding: 0;
  }

  .advert {
    @include mq(mobileLandscape) {
      flex-grow: 1;
    }
  }

  .advert__image-container {
    flex-basis: 100%;
    height: 100%;

    @include mq(tablet) {
      flex-basis: 500px;
      flex-grow: 0;
    }
  }

  .advert__text {
      justify-content: space-between;
      flex-grow: 1;
  }

  .badge {
    width: 200px;
    text-align: left;

    &::before {
      display: none;
    }

    .badge__logo {
      width: 200px;
      margin-left: 0;
    }
  }
}

.icon--glabs-logo {
  width: 75px;
  max-height: 31px;
}
