@use "core";
@use "adverts";
@use "advert";
@use "adverts-capi";
@use "paidfor-meta";
@use "popup-paidfor";

.paidfor-meta__more .paidfor-meta__label {
  font-weight: normal;

  // A fake change
}

.icon--glabs-logo {
  width: 75px;
  max-height: 31px;
}
