@import '_core';

.creative--programmatic-dmpu {
    margin: 0 auto;
    width: 300px;
    height: 600px;
    top: 0;
    left: 0;
    position: absolute;
}

.creative__image {
  margin: 0 auto;
  width: 300px;
  height: 600px;
  top: 0;
  left: 0;
  position: absolute;
}

.creative__link {
  margin: 0 auto;
  width: 300px;
  height: 600px;
  top: 0;
  left: 0;
  position: absolute;
}
