@import '_core';

.creative--fabric,
.creative__link {
    height: 250px;
    overflow: hidden;
}

.creative__layer1 { z-index: 1; }
.creative__layer2 { z-index: 2; }
.creative__layer3 { z-index: 3; }

.creative__background,
.creative__alt,
.creative__layer {
    width: 100%;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
}

.creative__background {
    background-position: center;
}

.creative__link {
    background: dfpVar(BackgroundColour) url('#{dfpVar(MobileBackgroundImage)}') dfpVar(MobileBackgroundImageRepeat) dfpVar(MobileBackgroundImagePosition);
}

.creative__layer1 {
    background-image: url('#{dfpVar(MobileLayer1BackgroundImage)}');
    background-position: dfpVar(MobileLayer1BackgroundPosition);
}

.creative__layer2 {
    background-image: url('#{dfpVar(MobileLayer2BackgroundImage)}');
    background-position: dfpVar(MobileLayer2BackgroundPosition);
}

.creative__layer3 {
    background-image: url('#{dfpVar(MobileLayer3BackgroundImage)}');
    background-position: dfpVar(MobileLayer3BackgroundPosition);
}
