:global(html) {
	--grid-color: aliceblue;
	--grid-size: 10px;
}

:global(body) {
	margin: 0;
	font-family: 'GuardianTextSans', 'Guardian Text Sans', sans-serif;

	background-image:
		repeating-linear-gradient(
			to right,
			transparent 0 calc(var(--grid-size) - 1px),
			var(--grid-color) calc(var(--grid-size) - 1px) var(--grid-size)
		),
		repeating-linear-gradient(
			to bottom,
			transparent 0 calc(var(--grid-size) - 1px),
			var(--grid-color) calc(var(--grid-size) - 1px) var(--grid-size)
		);
	background-repeat: repeat;
	background-size: var(--grid-size);
	min-height: 60vh;
}
