@import '_core';

a {
  text-decoration: none;
}

h1, p {
  margin: 0;
}

.container {
  font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  background-color: $neutral-8;
  border-top: 2px solid $paid-article-brand;

  display: flex;
  flex-direction: column;
  max-width: 220px;
}

.margin {
  margin: 5px;
}

.body {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.thumbnail {
  max-height: 40%;
  overflow:hidden;
}

.thumbnail__img {
  width: 100%;
}

.body__title {
  font-size: 12px;
  font-weight: bold;
  color: $neutral-1;

  margin-bottom: 5px;
}

.body__standfirst {
  font-size: 12px;
  color: $neutral-1;
  margin-bottom: 5px;
}

.body__tagline {
  font-size: 10px;
  color: $neutral-2;
  margin-top: 4px;
  margin-left: auto;
}

.logo__img {
  margin-left: 2px;
  max-width: 40px;
  max-height: 25px;
}
