@import '_core';

a {
  text-decoration: none;
}

h1, p {
  margin: 0;
}

.container {
  font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  background-color: $neutral-8;
  border-top: 1px solid $paid-article-brand;
  display: flex;
  flex-direction: row;
  max-width: gs-span(8);
  height: 80px;

  @include mq(articleTablet) {
    height: 110px;
  }
}

.margin {
  margin: 5px;
}

.body {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
}

.thumbnail {
  width: 134px;
  object-fit: cover;
  height: 100%;

  @include mq(articleTablet) {
    width: 186px;
  }
}

.thumbnail__img {
  max-height: 100%;
}

.body__title {
  font-size: 10px;
  font-weight: bold;
  color: $neutral-1;

  @include mq(articleTablet) {
    font-size: 12px;
  }
}

.body__standfirst {
  display: none;
  font-size: 10px;
  color: $neutral-1;
  margin-top: 5px;

  @include mq(articleTablet) {
    display: block;
    font-size: 12px;
  }
}

.body__tagline {
  font-size: 10px;
  color: $neutral-2;
  margin-top: auto;
  margin-left: auto;
  text-align: right;
}

.logo__img {
  margin-left: 2px;
  max-width: 40px;
  max-height: 25px;
}
