@import '_core';
@import '_gimbap-branding';
@import '_gimbap-wrap';
@import '_gimbap';

.gimbap-wrap__body--2x1x1 > :nth-child(4) {
	display: none;
}

.gimbap__arrow {
	display: none;
}

.gimbap__arrow--show {
	display: inline;
}

.gimbap {
	text-decoration: none;
}
