@import '_core';

.creative--fabric-video {
    margin: auto;
    max-width: $creative-max-width;

    .creative__link {
        height: 250px;
    }

    .creative__video,
    .creative__poster,
    .creative__alt,
    .creative__layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .creative__video {
        width: 1920px;
        height: 250px;
    }

    .creative__video--left {
        top: 50%;
        left: 0%;
        transform: translate(0%, -50%);
    }

    .creative__video--right {
        top: 50%;
        right: 0%;
        left: unset;
        transform: translate(0%, -50%);
    }

    .creative__video--center {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .creative__poster {
        background-position: center;
        background-repeat: no-repeat;
    }

    .creative__alt--mobile .creative__layer {
        background-repeat: no-repeat;
    }

    .creative__layer  { background-repeat: no-repeat; }
    .creative__layer1 { z-index: 1; }
    .creative__layer2 { z-index: 2; }
    .creative__layer3 { z-index: 3; }

    .creative__video--740 {
        width: 740px;
    }
}

// @include mq($until: tablet) {
//     .creative__video--mobile {
//         display: block;
//     }

//     .creative__video--desktop {
//         display: none;
//     }
// }

.has-no-object-fit .creative__video {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
}
